.services {
  min-width: $mobile-width;
  max-width: $desktop-width-end;
  margin: 0 auto;
  width: 100%;
}

.services__tabs {
  display: none;
}

.services__page {
  padding: 55px $side-padding-mobile 10px;
  background-color: $light-lilac;
  background-repeat: no-repeat;
  background-position: 100% 39%;

  &--0 {
    background-image: url("../../img/contributions-phone.jpg");
  }

  &--1 {
    background-image: url("../../img/credits-phone.jpg");

    .services__button {
      display: none;
    }

    a {
      color: $dark-grey;
      font-weight: 500;
    }
  }

  &--2 {
    background-image: url("../../img/insurance-phone.jpg");

    .services__button {
      margin-bottom: 81px;
    }
  }

  &--3 {
    background-image: url("../../img/online-services-phone.jpg");

    .services__button {
      margin-bottom: 32px;
    }
  }
}

.services__content--credits {
  margin-bottom: 68px;
}

.services__title {
  margin: 0 0 19px;
  @include font(16px, 23px, 500);
}

.services__content-list {
  @include list-reset();
  margin: 0 0 22px;
  padding-right: 57px;
}

.services__content-list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 11px;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 6px;
    background: url("../../img/check-mark.svg") no-repeat center;
    top: 7px;
    left: 0;
  }
}

.services__content a {
  color: $dark-grey;
}

.services__button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .services__page {
    padding: 56px $side-padding-tablet 15px;
    background-position: 91% 50%;

    &--0 {
      background-image: url("../../img/contributions-tablet.jpg");
    }

    &--1 {
      background-image: url("../../img/credits-tablet.jpg");

      .services__wrappper {
        width: 310px;
      }
    }

    &--2 {
      background-image: url("../../img/insurance-tablet.jpg");

      .services__wrappper {
        width: 310px;
      }

      .services__button {
        margin-bottom: 59px;
      }
    }

    &--3 {
      background-image: url("../../img/online-services-tablet.jpg");

      .services__wrappper {
        width: 340px;
      }

      .services__button {
        margin-bottom: 53px;
      }
    }
  }

  .services__wrappper {
    width: 380px;
  }

  .services__content--credits {
    margin-bottom: 44px;
  }

  .services__content-list {
    padding-right: 0;
    margin-bottom: 29px;
  }

  .services__title {
    @include font(18px, 25px, 500);
    margin-bottom: 22px;
  }

  .services__button {
    width: max-content;
    padding: 12px 22px;
    margin-bottom: 37px;
  }

  .services__content-list li {
    padding-left: 21px;
    margin-bottom: 15px;

    &::before {
      width: 11px;
      height: 8px;
      top: 6px;
      background-size: contain;
    }
  }
}

@media (min-width: $desktop-width-start) {
  .services {
    padding: 58px $side-padding-desktop 0;
  }

  .services__tabs {
    display: flex;
    justify-content: space-between;
  }

  .services__page {
    padding: 53px 70px 59px;
    background-position: 81.5% 50%;

    &--0 {
      background-image: url("../../img/contributions-desktop.jpg");
    }

    &--1 {
      background-image: url("../../img/credits-desktop.jpg");
      padding-bottom: 35px;

      .services__wrappper {
        width: 330px;
      }
    }

    &--2 {
      background-image: url("../../img/insurance-desktop.jpg");

      .services__button {
        margin-bottom: 0;
      }
    }

    &--3 {
      background-image: url("../../img/online-services-desktop.jpg");

      .services__wrappper {
        width: 413px;
      }

      .services__content-list {
        padding-right: 50px;
      }

      .services__button {
        margin-bottom: 0;
      }
    }
  }

  .services__wrappper {
    width: 400px;
  }

  .services__content--credits {
    margin-bottom: 0;
  }

  .services__title {
    @include font(22px, 31px, 500);
    margin-bottom: 29px;
  }

  .services__content-list {
    margin-bottom: 33px;
  }

  .services__button {
    padding: 14px 22px;

    margin-bottom: 0;
  }
}
